<div *ngIf = "album">
  <div class="row">
      <h2> {{album.name}} </h2>
      <img src="{{ album.images[0].url }}" class="img-responsive">
      <div class="col-sm-6 col-md-4" *ngFor="let t of album.tracks.items">
          <div class="thumbnail">
            <div class="content">
              <div class="caption">
                <p>
                  <a [routerLink] = "['/tracks', t.id]">
                  {{t.name}}
                  </a>
                </p>
                <br>
              </div>
            </div>
          </div>
      </div>
      <br>
      <p><a href (click)="back()">Back</a></p>
    </div>
</div>


